<ion-card class="Card_principal-tab1">
  <img src="https://th.bing.com/th/id/OIG.XdOsm7SDZ7ujVQkID1hC?pid=ImgGn" alt=''/>
  <ion-card-content class="Card_container">
    <ion-card-title class='card_title'>Pellentesque pellentesque dolor ipsum, id sodales odio ultricies vel. Duis eget commodo orci, quis faucibus nunc.</ion-card-title>
    <div class='card_description'>
      <p>Suspendisse sed laoreet neque. Quisque lorem enim, elementum sit amet lacinia id, efficitur id sapien. Cras in luctus nibh. Cras vulputate mattis urna nec suscipit. Ut sollicitudin pulvinar erat quis scelerisque. Morbi facilisis lorem in finibus vestibulum. Maecenas libero quam, sollicitudin rutrum velit sed, feugiat dignissim neque. Proin imperdiet tempus ex, non euismod elit fringilla vitae. Donec suscipit turpis eget elit volutpat luctus. Aliquam quis fermentum risus, id tempor elit. Aliquam at gravida est. Phasellus feugiat sapien a metus elementum</p>
    </div>
  </ion-card-content>
</ion-card>
